@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Eddi - SDE/SDET";
}


<script>



</script>

<div id="content" class="container">



    <div class="row" style="padding-bottom:40px; display: none;">

        <div class="col-md-3">
            <h3 class="col-heading text-left">Professional Profile</h3>
        </div>

        <div class="col-md-9">
            <div class="col-md-12 vert-border ">



                @*<p>An accomplished Software Development Engineer with over seven years of experience developing and designing testing frameworks for web and mobile applications with C#, NUnit and Selenium, as well as substantial experience of front-end development with JavaScript, HTML, and CSS. Passionate about Continuous Delivery development practices and quality improvement through processes of effective collaboration among team members and application of knowledge.  Excellent troubleshooting and analytical skills, well-organized, self-motivated, able to meet deadlines, handle multiple projects and adapt to diverse teams and projects.</p>*@

                <ul class="job-achievement" style="margin-top: 0; padding-left: 20px;">
                    <li>
                        Software Development Engineer in Test with full system development lifecycle experience, including system testing, building and creating test automation frameworks, test planning and test case writing.
                    </li>
                    <li>
                        Qualifications include over 7 years of experience in software testing, developing test automation, building test frameworks from the ground up and collaborating with engineering teams in a dynamic, fast paced, start-up environment within an Agile, Continuous Development methodology and daily deployments.
                    </li>
                    <li>
                        Backed by 5+ years of experience as a Systems Engineer in Point of Sale systems implementation, performing systems testing, staging and networking, onsite installations, live support and training.
                    </li>
                </ul>
            </div>
        </div>


    </div>




    <div class="row" style="padding-bottom:40px; display: none;">

        <div class="col-md-3">
            <h3 class="col-heading text-left">Proficiencies</h3>
        </div>


        <div class="col-md-9">
            <div class="col-md-12 vert-border ">
                <div class="table-responsive">
                    <table class="table skill-table">
                        <tr>
                            <th class="skill-title col-md-4"></th>
                            <th class="col-md-5">Proficient</th>
                            <th class="col-md-3">Intermediate</th>
                        </tr>

                        <tr>
                            <td class="skill-title">Testing Automation Tools:</td>
                            <td>Selenium WebDriver, NUnit, TestRail, <br />Jenkins, NCover, NodePing</td>
                            <td>JMeter, Cucumber/SpecFlow</td>
                        </tr>
                        <tr>
                            <td class="skill-title">Languages/Markup/Frameworks:</td>
                            <td>C#, ASP.NET, MVC, HTML, CSS, Bootstrap</td>
                            <td>PHP, Ruby, Less, Combres</td>
                        </tr>
                        <tr>
                            <td class="skill-title">Bug Tracking/Related Tools:</td>
                            <td>Assembla, FogBugz, SVN, Visual Studio, Jenkins CI</td>
                            <td>JIRA, GIT/GitHub</td>
                        </tr>
                        <tr>
                            <td class="skill-title">Scripting:</td>
                            <td>JavaScript, JQuery, TSQL, PowerShell</td>
                            <td>EmberJS</td>
                        </tr>
                        <tr>
                            <td class="skill-title">Data stores:</td>
                            <td>MS SQL Server, XML, JSON</td>
                            <td></td>
                        </tr>
                    </table>
                </div>
            </div>

        </div>
    </div>


    <div class="row" style="padding-bottom:40px;">

        <div class="col-md-3">
            <h3 class="col-heading text-left">Professional Experience</h3>
        </div>


        <div class="col-md-9">
            <div class="col-md-12 vert-border">

                <h4 class="company-name col-md-8 col-sm-12"><a class="site-link" href="http://www.ethofy.com" target="_blank">Ethofy</a></h4>
                <h4 class="col-md-4 col-md-12 date text-right">Nov 2007 &#45; Sept 2015</h4>

                <h5 class="job-title col-md-12">Software Development Engineer</h5>

                <div class="col-md-12 proj-desc">

                    <p>Joined Ethofy in an early-stage startup phase with a 10-person team. Served as the sole QA\Test Engineer, monitor and analyze every phase of development to ensure design quality standards and implement test methodologies, build test frameworks, develop test cases, perform manual testing and reporting of key metrics to team.</p>
                    
                    <h4>Responsibilities:</h4>
                    <ul class="job-achievement">
                        <li>
                            Front-end web development of small to medium sized websites
                        </li>
                        <li>
                            Front-end web development of client microsites
                        </li>
                        <li>
                            Ensure product quality across all projects and integrate build quality into CI process
                        </li>
                        <li>
                            Triage defects and fix\improve system processes and issues
                        </li>
                        <li>
                            Build UI test automation framework and write\execute automated and manual test scripts
                        </li>
                        <li>
                            Develop\engineer support tools\applications to assist Clients\PMs with onboarding
                        </li>
                        <li>
                            Champion user-centered design, provide feedback to CEO and contribute to product vision
                        </li>
                        <li>
                            Drive/bridge connections between all teams, and help define and prioritize requirements
                        </li>
                        <li>
                            Setup, maintain environments, VMs, configure IIS, deployment of code
                        </li>
                    </ul>
                </div>


                <div class="col-md-12">
                    <h4>Ethofy Projects:</h4>


                    <h5><a href="http://kurryer.com" target="_blank">Kurryer</a>&nbsp;<span class="proj-date">(2011-2015)</span></h5>
                    <p class="sub-proj-desc">
                        Web hosted (SaaS) solution enabling organizations to amplify delivery of messaging to customers.
                    </p>
                

                    <h5><a href="http://mulo01.ethofytools.com/?noredirect=1" target="_blank">Inspired Marketing</a>&nbsp;<span class="proj-date">(2008 - 2010)</span></h5>
                    <p class="sub-proj-desc">
                        Initial major project to unify numerous silo projects into a single codebase.
                    </p>


                    <h5><a>Content Menu</a> &nbsp;<span class="proj-date">(2007 - 2008)</span></h5>
                    <p class="sub-proj-desc">
                        Hosted website for Microsoft channel partners supplying syndication content from Ethofy's proprietary JavaScript/CSS syndication library.
                    </p>


                </div>

            </div>
        </div>

    </div>


    <div class="row" style="padding-bottom:40px;">

        <div class="col-md-3">
            <h3 class="col-heading text-left">&nbsp;</h3>
        </div>

        <div class="col-md-9">
            <div class="col-md-12 vert-border">
                <h4 class="company-name col-md-9"><a class="site-link" href="http://www.squirrelsystems.com/" target="_blank">Squirrel Systems</a> (f.k.a. &#34;Pacific Coast Systems&#34;)</h4>
                <h4 class="col-md-3 date text-right">Feb 2002 &#45; Nov 2007</h4>

                <h5 class="job-title col-md-12">Systems Engineer</h5>
                <div class="col-md-12 proj-desc">

                    <p>Reseller and service provider for Restaurant Point of Sale systems; providing sales, service and support throughout the Pacific NW.</p>

                </div>


                <p class="sub-proj-desc"></p>
                <div class="col-md-12">

                    <ul class="job-achievement">
                        <li>
                            Travel throughout the NW install POS systems in Restaurants, Resorts, Hotels and Trains.

                        </li>
                        <li>
                            Assist Sales and Program Management in training and demos.
                        </li>
                        <li>
                            Staged, tested, networked an average of 15 POS systems per year ranging from 1-20 nodes.
                        </li>
                        <li>
                            Trained 1-100 employees per install on POS usage.
                        </li>
                        <li>
                            Build-out Servers, Client machines and configure operating systems (Windows, Unix)
                        </li>
                        <li>
                            Provide on site "go live" support and 24hour remote support
                        </li>
                    </ul>
                </div>
                <hr />
            </div>

        </div>

    </div>

    <div class="row" style="padding-bottom:40px;">

        <div class="col-md-3">
            <h3 class="col-heading text-left">Other Professional Experience</h3>
        </div>

        <div class="col-md-9">
            <div class="col-md-12 vert-border">
                <h4 class="company-name col-md-9"><a class="site-link" href="http://www.clubcorp.com/" target="_blank">ClubCorp</a></h4>
                <h4 class="col-md-3 date text-right">1992 &#45; 2002</h4>

                @*<h5 class="job-title col-md-12">Systems Engineer</h5>*@

                <div class="col-md-12 proj-desc" style="padding-top: 0;">


                    <p>World leader in Private Clubs - ClubCorp owns or operates more than 200 golf and country clubs, business clubs, sports clubs and alumni clubs.</p>
                    <p>Responsible for the overall Food and Beverage operations.</p>
                    <p>Promoted/Transferred within the following:</p>
                    <ul class="list-group job-list">
                        <li class="list-group-item"><span class="skill-title"><a href="http://www.clubcorp.com/Clubs/The-Hills-of-Lakeway" target="_blank">The Hills of Lakeway Country Club</a>&nbsp;&#45;&nbsp;<span class="subtitle">F&amp;B Director</span></span></li>
                        <li class="list-group-item"><span class="skill-title"><a href="http://www.harborclub.org/" target="_blank">The Harbour Club</a>&nbsp;&#45;&nbsp;<span class="subtitle">General Manager</span></span></li>
                        <li class="list-group-item"><span class="skill-title"><a href="http://www.clubcorp.com/Clubs/The-Downtown-Club" target="_blank">The Downtown Club at Houston Center</a>&nbsp;&#45;&nbsp;<span class="subtitle">F&amp;B Director</span></span></li>
                        <li class="list-group-item"><span class="skill-title"><a href="http://www.clubcorp.com/Clubs/Greenspoint-Club" target="_blank">The Greenspoint Club</a>&nbsp;&#45;&nbsp;<span class="subtitle">Service Director</span></span></li>
                    </ul>
                </div>
            </div>

        </div>

    </div>


    <div class="row" style="padding-bottom:40px;">
        <div class="col-md-3">
            <h3 class="col-heading text-left">Interests</h3>
        </div>
        <div class="col-md-9">
            <div class="col-md-12 vert-border">
                <p>There's a good chance you'll find me<a class="site-link" href="https://www.flickr.com/photos/25580779@N07/21251363576/in/dateposted-public/" target="_blank">&nbsp;on a mountain</a>&nbsp;in a<a class="site-link" href="https://www.flickr.com/photos/25580779@N07/21253195065/in/album-72157658298520576/" target="_blank">&nbsp;sea of rave green</a>&nbsp;or in a never-win game of tug-of-war with<a class="site-link" href="https://www.flickr.com/photos/25580779@N07/21066329509/in/album-72157658298520576/" target="_blank">&nbsp;my dog</a>.</p>
            </div>
        </div>
    </div>

</div>


