@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Eddi - SDE/SDET";
}


<script>

    // Need better implementation for postback - this script needs to run on every page
    $(document).ready(function () {

        var thisLink = localStorage.getItem('thisLink');

        var currLink = '#' + thisLink + ' ' + 'a';

        $(currLink).addClass('active_nav').siblings().removeClass('active_nav');

    });

</script>

<div id="content" class="container">



    <div class="row" style="padding-bottom:40px; display: none;">

        <div class="col-md-3">
            <h3 class="col-heading text-left">Professional Profile</h3>
        </div>

        <div class="col-md-9">
            <div class="col-md-12 vert-border ">



                @*<p>An accomplished Software Development Engineer with over seven years of experience developing and designing testing frameworks for web and mobile applications with C#, NUnit and Selenium, as well as substantial experience of front-end development with JavaScript, HTML, and CSS. Passionate about Continuous Delivery development practices and quality improvement through processes of effective collaboration among team members and application of knowledge.  Excellent troubleshooting and analytical skills, well-organized, self-motivated, able to meet deadlines, handle multiple projects and adapt to diverse teams and projects.</p>*@

                <ul class="job-achievement" style="margin-top: 0; padding-left: 20px;">
                    <li>
                        Software Development Engineer in Test with full system development lifecycle experience, including system testing, building and creating test automation frameworks, test planning and test case writing.
                    </li>
                    <li>
                        Qualifications include over 7 years of experience in software testing, developing test automation, building test frameworks from the ground up and collaborating with engineering teams in a dynamic, fast paced, start-up environment within an Agile, Continuous Development methodology and daily deployments.
                    </li>
                    <li>
                        Backed by 5+ years of experience as a Systems Engineer in Point of Sale systems implementation, performing systems testing, staging and networking, onsite installations, live support and training.
                    </li>
                </ul>
            </div>
        </div>


    </div>




    @*----------------- EXPERIENCE-----------------------*@




    <div class="row" style="padding-bottom:40px;">

        <div class="col-md-3">
            <h3 class="col-heading text-left">Professional Experience</h3>
        </div>


        <div class="col-md-9">
            <div class="col-md-12 vert-border">

                @* TO DO?: According tab implementation

                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default" id="panel1">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-target="#collapseOne">
                                        Apple Leisure Group
                                    </a>
                                </h4>

                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <div class="col-md-3">
                                        <h3 class="col-heading text-left"></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default" id="panel2">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-target="#collapseTwo"
                                       class="collapsed">
                                        Ethofy
                                    </a>
                                </h4>

                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse">
                                <div class="panel-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</div>
                            </div>
                        </div>
                    </div>*@





                <h4 class="company-name col-md-8 col-sm-12"><a class="resume-link" href="http://www.appleleisuregroup.com" target="_blank">Apple Leisure Group</a></h4>
                <h4 class="col-md-4 col-md-12 date text-right">Jan 2016 &#45; Present</h4>

                <h5 class="job-title col-md-12">QA Automation Engineer</h5>

                <div class="col-md-12 proj-desc">
                    <h4>Role:</h4>
                    <p>One of 5 QA Automation Engineers on a team of ~50, my role consisted of leading quality improvements over hotel contract loading, revenue management and pricing service for large startup project in the Hospitality and Travel Industry. Major efforts in in unifying a Java-based SOA suite of REST web services and 3rd party services and establishing quality processes for a minimum viable product. </p>
                    <h4>Responsibilities:</h4>
                    <ul class="job-achievement">
                        <li>
                            Perform end-of-sprint demos of features to company employees and stakeholders.
                        </li>
                        <li>
                            Write test plan and strategies for End-to-End scenarios, Pricing API and Agency administration web portal.
                        </li>
                        <li>
                            Support developers with Unit and Integration test development and reporting of coverage with JaCoCo.
                        </li>
                        <li>
                            Develop automation test scripts for API via Postman and migrate into Java, JUnit, Rest-assured framework.
                        </li>
                        <li>
                            Develop, maintain functional test cases for Java, JUnit, Selenium framework with supported SQL database scripts.
                        </li>

                    </ul>
                    <h4>Key Accomplishments:</h4>
                    <ul class="job-achievement">
                        <li>
                            Led Swat/Tiger team of key cross-team developers to track down breakdowns in complex, multi-faceted web service infrastructure to achieve end-to-end testing of pricing component.
                        </li>
                        <li>
                            Implemented and trained team on Gherkin story acceptance scenario testing writing approach that increased visibility into what was being testing and how, greatly reduced sprint overhead and was adopted companywide.
                        </li>
                        <li>
                            Increased UI automation testing efficiency by 20% through pairwise testing design of complex, multi-functional UI features to reduce load and maintaining 100% test coverage.
                        </li>
                        <li>
                            Developed method of documenting end-to-end testing scenarios which was consumable throughout the organization and approved by ownership and deployed companywide for approval end to end testing.
                        </li>
                        <li>
                            Increased API regression test coverage by 30% by converting 3rd party tool driven rest API test scripts into a Java/JUnit/Rest-assured automation test framework.
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>


    <div class="row" style="padding-bottom:40px;">

        <div class="col-md-3">
            <h3 class="col-heading text-left"></h3>
        </div>


        <div class="col-md-9">
            <div class="col-md-12 vert-border">

                <h4 class="company-name col-md-8 col-sm-12"><a class="resume-link" href="http://www.ethofy.com" target="_blank">Ethofy</a></h4>
                <h4 class="col-md-4 col-md-12 date text-right">Nov 2007 &#45; Sept 2015</h4>

                <h5 class="job-title col-md-12">Software Development Engineer/SDET</h5>

                <div class="col-md-12 proj-desc">
                    <h4>Role:</h4>
                    <p>Joined Ethofy in an early-stage startup phase with a 10-person team. Managed all aspects of Quality for Ethofy’s flagship startup products and numerous Client Services albeit I wore many hats over an 8 year tenure. (Startups are like that :) Also, served as the principal developer for Client Services projects and building custom automation tools to support client onboarding, sustaining DevOps/IT and primary support liaison for Clients, Customers and Project Owners.</p>
                    <h4>Responsibilities:</h4>
                    <ul class="job-achievement">
                        <li>
                            Manage and deploy promotion of releases through all environment stages and production.
                        </li>
                        <li>
                            Managed project management software and provide company status reporting of production releases.
                        </li>
                        <li>
                            Liaison for bridging and communicating technical and business goals between project owners and clients.
                        </li>
                        <li>
                            Write master test strategy, test plan, test cases for flagship product and numerous client projects.
                        </li>
                        <li>
                            Develop, execute and maintain system, functional, regression, compatibility test suites.
                        </li>

                    </ul>


                    <h4>Key Accomplishments:</h4>
                    <ul class="job-achievement">
                        <li>
                            Successfully helped launch 3 SaaS applications from conception over the course of 7 years
                        </li>
                        <li>
                            Designed and developed Ethofy’s first comprehensive Test Automated Framework with over 1200 test scripts using C#, NUnit and Selenium WebDriver.
                        </li>
                        <li>
                            Re-developed front-end on a C#/.NET MVC back-end improving UX with responsive design and modernizing with HTML5/CSS3/Bootstrap.
                        </li>
                        <li>
                            Designed automated test framework from the ground up achieving a scalable and maintainable Regression testing solution which resulted in a reduction of incoming rate of defects by 65%.
                        </li>
                        <li>
                            Designed and developed C# application to covert Excel data to HTML/JSON which served as a temporary solution to assist onboarding while product was being developed.
                        </li>
                        <li>
                            Reduced total regression test execution time by 4.5 hours through the implementation of cross-browser parallelism and paving the way for new continuous delivery methodology and daily production deployments.
                        </li>
                        <li>
                            Trained remote development teams on automation testing approaches, environment setup and integration into continuous integration build server to achieve goal of a centralized test process.
                        </li>
                    </ul>
                </div>


                <div class="col-md-12">
                    <h4>Ethofy Projects:</h4>


                    <h5><a class="resume-link" href="http://kurryer.com" target="_blank">Kurryer</a>&nbsp;<span class="proj-date">(2011-2015)</span></h5>
                    <p class="sub-proj-desc">
                        Web hosted (SaaS) solution enabling organizations to amplify delivery of messaging to customers.
                    </p>


                    <h5><a class="resume-link" href="http://mulo01.ethofytools.com/?noredirect=1" target="_blank">Inspired Marketing</a>&nbsp;<span class="proj-date">(2008 - 2010)</span></h5>
                    <p class="sub-proj-desc">
                        Initial major project to unify numerous silo projects into a single codebase.
                    </p>


                    <h5><a class="resume-link">Content Menu</a> &nbsp;<span class="proj-date">(2007 - 2008)</span></h5>
                    <p class="sub-proj-desc">
                        Hosted website for Microsoft channel partners supplying syndication content from Ethofy's proprietary JavaScript/CSS syndication library.
                    </p>


                </div>

            </div>
        </div>

    </div>


    <div class="row" style="padding-bottom:40px;">

        <div class="col-md-3">
            <h3 class="col-heading text-left">&nbsp;</h3>
        </div>

        <div class="col-md-9">
            <div class="col-md-12 vert-border">
                <h4 class="company-name col-md-9"><a class="resume-link" href="http://www.squirrelsystems.com/" target="_blank">Squirrel Systems</a> (f.k.a. &#34;Pacific Coast Systems&#34;)</h4>
                <h4 class="col-md-3 date text-right">Feb 2002 &#45; Nov 2007</h4>

                <h5 class="job-title col-md-12">Systems Engineer</h5>
                <div class="col-md-12 proj-desc">
                    <h4>Role:</h4>
                    <p>Principal installer and trainer of Squirrel Systems. Managed the setup, configuration, programming, testing, networking, staging, installation, training for Point of Sale systems in Hospitality Industry throughout the Pacific Northwest. Assisted sales staff with custom branded demonstrations and performed 24 hour on-call/on-site support.</p>


                    <h4>Responsibilities:</h4>
                    <ul class="job-achievement">
                        <li>
                            Travel throughout the NW install POS systems in Restaurants, Resorts, Hotels and Trains.
                        </li>
                        <li>
                            Assist Sales and Program Management in training and demos.
                        </li>
                        <li>
                            Staged, tested, networked an average of 15 POS systems per year ranging from 1-20 nodes.
                        </li>
                        <li>
                            Trained 1-100 employees per install on POS usage.
                        </li>
                        <li>
                            Build-out Servers, Client machines and configure operating systems (Windows, Unix)
                        </li>
                        <li>
                            Provide on site "go live" support and 24hour remote support
                        </li>
                    </ul>
                    <h4>Key Accomplishments:</h4>
                    <ul class="job-achievement">
                        <li>
                            Reached an average of 15 POS system installations per year ranging from 1-20 nodes and training 1-100 staff employees per install.

                        </li>
                        <li>
                            Reduced per installation programming time by 8-10 hours by designing and building an Excel to MSSQL DTS data application which imported restaurant data and saving on manual labor input. 
                        </li>
                        <li>
                            Promoted to Principal Systems Engineer and relocated to the state of Oregon to work directly with Sales and increased companies market share in the region.
                        </li>
                    </ul>
                </div>
            <hr />
        </div>

    </div>

</div>

<div class="row" style="padding-bottom:40px;">

    <div class="col-md-3">
        <h3 class="col-heading text-left">Other Professional Experience</h3>
    </div>

    <div class="col-md-9">
        <div class="col-md-12 vert-border">
            <h4 class="company-name col-md-9"><a class="resume-link" href="http://www.clubcorp.com/" target="_blank">ClubCorp</a></h4>
            <h4 class="col-md-3 date text-right">1992 &#45; 2002</h4>

            @*<h5 class="job-title col-md-12">Systems Engineer</h5>*@

            <div class="col-md-12 proj-desc" style="padding-top: 0;">


                <p>World leader in Private Clubs - ClubCorp owns or operates more than 200 golf and country clubs, business clubs, sports clubs and alumni clubs.</p>
                <p>Responsible for the overall Food and Beverage operations.</p>
                <p>Promoted/Transferred within the following:</p>
                <ul class="list-group job-list">
                    <li class="list-group-item"><span class="skill-title"><a class="resume-link" href="http://www.clubcorp.com/Clubs/The-Hills-of-Lakeway" target="_blank">The Hills of Lakeway Country Club</a>&nbsp;&#45;&nbsp;<span class="subtitle">F&amp;B Director</span></span></li>
                    <li class="list-group-item"><span class="skill-title"><a class="resume-link" href="http://www.harborclub.org/" target="_blank">The Harbour Club</a>&nbsp;&#45;&nbsp;<span class="subtitle">General Manager</span></span></li>
                    <li class="list-group-item"><span class="skill-title"><a class="resume-link" href="http://www.clubcorp.com/Clubs/The-Downtown-Club" target="_blank">The Downtown Club at Houston Center</a>&nbsp;&#45;&nbsp;<span class="subtitle">F&amp;B Director</span></span></li>
                    <li class="list-group-item"><span class="skill-title"><a class="resume-link" href="http://www.clubcorp.com/Clubs/Greenspoint-Club" target="_blank">The Greenspoint Club</a>&nbsp;&#45;&nbsp;<span class="subtitle">Service Director</span></span></li>
                </ul>
            </div>
        </div>

    </div>

</div>


<div class="row" style="padding-bottom:40px;">
    <div class="col-md-3">
        <h3 class="col-heading text-left">Interests</h3>
    </div>
    <div class="col-md-9">
        <div class="col-md-12 vert-border">
            <p>There's a good chance you'll find me<a class="resume-link" href="https://www.flickr.com/photos/25580779@N07/21251363576/in/dateposted-public/" target="_blank">&nbsp;on a mountain</a>&nbsp;in a<a class="resume-link" href="https://www.flickr.com/photos/25580779@N07/21253195065/in/album-72157658298520576/" target="_blank">&nbsp;sea of rave green</a>&nbsp;or in a never-win game of tug-of-war with<a class="resume-link" href="https://www.flickr.com/photos/25580779@N07/21066329509/in/album-72157658298520576/" target="_blank">&nbsp;my dog</a>.</p>
        </div>
    </div>
</div>

<div class="row" style="padding-bottom:40px;">

    <div class="col-md-3">
        <h3 class="col-heading text-left">Proficiencies</h3>
    </div>


    <div class="col-md-9">
        <div class="col-md-12 vert-border ">
            <div class="table-responsive">
                <table class="table skill-table">
                    <tr>
                        <th class="skill-title col-md-4"></th>
                    </tr>
                    <tr>
                        <td class="skill-title">Systems:</td>
                        <td>Windows, MacOS, Linux</td>
                    </tr>
                    <tr>
                        <td class="skill-title">Languages:</td>
                        <td>C#, Java, JavaScript, T-SQL, HTML</td>
                    </tr>
                    <tr>
                        <td class="skill-title">Frameworks:</td>
                        <td>.NET, React, jQuery, Selenium WebDriver, NUnit, JUnit, Rest-Assured</td>
                    </tr>
                    <tr>
                        <td class="skill-title">Supporting Technologies:</td>
                        <td>JSON, XML, XSLT, CSS, Less, Bootstrap, Git, SVN</td>
                    </tr>
                    <tr>
                        <td class="skill-title">Applications / Tools:</td>
                        <td>Visual Studio, Jenkins, TeamCity, JIRA, Blazemeter, Assembla, FogBugz, TestRail, Postman, SauceLabs</td>
                    </tr>
                    <tr>
                        <td class="skill-title">Databases:</td>
                        <td>Microsoft SQL Server, PostgreSQL</td>
                    </tr>
                    <tr>
                        <td class="skill-title">Versioning:</td>
                        <td>SVN, TortoiseSVN,  Git/GitHub/GitLab</td>
                    </tr>
                </table>
            </div>
        </div>

    </div>
</div>

</div>


