@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Seattle, WA<br />

</address>

<address>
    <strong>Support:</strong>   <a href="mailto:contact@eddifey.com">contact@eddifey.com</a>
</address>