@{
    ViewBag.Title = "Home Page";
}

<script>

    // Need better implementation for postback - this script needs to run on every page
    $(document).ready(function () {

        var thisLink = localStorage.getItem('thisLink');

        var currLink = '#' + thisLink + ' ' + 'a';

        $(currLink).addClass('active_nav').siblings().removeClass('active_nav');

    });

</script>



<section>

    <div class="col-md-12">
        <div>
            <img class="img-responsivec center-block" src="~/images/webdev1.png" style="margin: 20px auto;" />
        </div>
    </div>

</section>

<div id="content" class="container home_container">

    <div class="row" style="padding-bottom:40px;">


        <div class=""></div>

        <div class="col-md-12">
            <div class="col-md-12 vert-border">


                <h2 id="role">Quality in Seattle</h2>

                <h3>Hospitality Industry to Tech Industry</h3>

                <p>Early in my career in the Hospitality industry, I worked my way up from a busboy to a Food and Beverage Director at a large privately held corporation. Along the way, I became enamored with technology. This began when I had to write my first yearly budget and was given a 4 inch thick dot matrix printout of revenues and expenses and was asked to pencil-in "the numbers". I took that and developed and Excel based pivot table. Where it all changed was when my current club was the beta club for a new POS (Point of Sale) system that was expected to roll-out company wide. I became so fascinated with system and finding better methods to utilize it's capabilities. I actually enjoyed when it didn't work and had to speak with support to troubleshoot. For me, this was a sign and I decided to redirect my career to the technology field.</p>

                <h3>The more recent past</h3>

                <p>Having worked at two startups over the past 12 years, I've worn many hats and have gained a significant breadth of knowledge in technologies, but perhaps most of all, I've gained an appreciation for companies which seek to do the right thing by valuing team commitment along with opportunities for learning, creativity, and mentorship. More than anything, companies that inspire team focus and exhibit a passion on delivering products/services which customers love. <i>Passion is contagious.</i></p>


                <h3>The future</h3>
                <p>From my days in the Hospitality industry, it was inherently understood that the customer is the single most valued asset an organization can have. This value has rooted itself into me deeply and transferred over into in my technology career where I'm driven to ensure products deliver positive and meaningful experiences for customers and end-users.</p>

                <p>
                    My technical knowledge runs the gamut from Software Development to Software Testing. I strive to contribute creatively to a products vision, iteratively solving technology problems from the perspective of the user. I love to work with open source technologies and build web pages and applications to designing and writing test automation.
                <p>


                <p>Take some time to look at profile, and if you're interested, <a class="resume-link" href="mailto:contact@eddifey.com"> let's get in touch</a>.</p>

                <div>
                    <p>Here's a simple tool to validate a web site's padding and margins by color highlighting (especially beneficial for responsive websites):</p>
                    <p>
                        <div class="btn btn-default on-off">
                            <div id="on" href="#">Show padding and margins</div>
                        </div>
                        <div class="btn btn-default on-off">
                            <div id="off" href="#">Hide padding and margins</div>
                        </div>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
